h1 {
	background: #fff;
	padding: 5px;
	border : 1px solid #f2f6f9;
}
h2,
.cart_title {
	margin:80px auto;
	text-align: center;
	width: 80%;
	color:#182b45;
}
h2,
.finish_title {
	margin:80px auto;
	text-align: center;
	width: 80%;
	color:rgb(255, 83, 83);
}

/*テーブル*/
table.table_list {
	background-color: #fefefe;
	border-collapse: collapse;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 90%;
    margin: 3rem auto;
    overflow: hidden;
}
thead.table_head {
    background-color: #d7dfeb;
	color:rgb(20, 26, 78);
}
thead.table_head th {
    padding: 0.5rem 1rem;
	text-align: left;
	white-space: nowrap;
}
tbody td {
    padding: 0.5rem 1rem;
	text-align: left;
}
tbody tr {
    border-bottom: 1px solid #edeef2;
    padding: 0 3rem;
}
.goods_id {width:20%}
.goods_name {width:30%}
.goods_price {width:10% }
.goods_inventory {width:10% }
.goods_amount {width:10% }
.goods_volume {width:10% }
.goods_button {width:160px}
.button {text-align: center;}

.int {text-align: right;}

input.textbox {
	width  : 100%;
	box-sizing: border-box;
	text-align: right;
}
/*カート*/
a#cart {
	color: #fff;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	height: 100%;
	padding: 10px 15px;
	border-left: rgba(255,255,255,0.2) 1px solid;
	margin : 0;
	font-size: 0.5rem;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.icon_layers{
	display: inline-block;
    height: 3em;
    line-height: 3em;
	min-width: 3em;
    position: relative;
    vertical-align: middle;
	text-align: center;
}

.icon_layers_icon{
	position: absolute;
	left: 0;
	top: 5px;
	display: inline-block;
	width: 200%;
	text-align: center;
	font-size: 3em;
}

.icon_layers_text{
	position: relative;
	top: 0.4em;
	min-width: 100%;
	color: #fff;
	font-size: 1.4em;
}

.icon_layers_counter{
	position: absolute;
	top: 5;
	right: 10px;
	display: inline-block;
	padding: 3px 5px;
	line-height: 1;
	color: #fff;
	background: #ff3333;
	font-size: 0.6em;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}